# Database Configuration
# DATABASE_DRIVER="mongodb"
DATABASE_DRIVER="postgres"

# MongoDB
DATABASE_URL="mongodb://localhost:27017/afisha"

# PostgreSQL
# DATABASE_URL="postgres://localhost:5432/prac"
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=prac
DATABASE_PASSWORD=prac
DATABASE_NAME=prac
DATABASE_SYNCHRONIZE=false

DEBUG=*
LOGGER_TYPE=json